@use "../abstracts";
.filter {
    margin: 101px auto 0;
    padding: 25px 40px;
    width: 761px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 75px;

    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 40px 100px rgba(110, 110, 110, 0.08);

    &__title {
        color: #0a192d;
        font-weight: 600;
        line-height: 1;
    }

    &__select {
        margin-top: 18px;
        display: flex;
        align-items: center;
        gap: 8px;
        white-space: nowrap;
    }

    &__desc {
        color: #697280;
        font-size: 1.4rem;
        line-height: 1;
    }

    &__btn {
        padding: 24px 40px;

        display: flex;
        align-items: center;
        gap: 12px;

        width: 170px;
        height: 64px;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 0.89;
        letter-spacing: 0.36px;

        border-radius: 8px;
        background: #132742;
        box-shadow: 0px 25px 25px -20px rgba(0, 0, 0, 0.2);
    }

    @include abstracts.screen(lg) {
        & {
            margin-top: 50px;
            padding: 20px;
            grid-template-columns: 1fr 1fr;
            width: 100%;
        }
    }

    @include abstracts.screen(sm) {
        & {
            grid-template-columns: 1fr;
            gap: 40px;
        }
    }
}
