.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  color: #2d3134;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
  padding: 0;
}

input,
textarea {
  background: transparent;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

a,
button {
  cursor: pointer;
  transition: 0.3s;
}
a:hover,
button:hover {
  opacity: 0.8;
}

:root {
  --font-popins: "Poppins", sans-serif;
  --color-icon: #ff7b29;
  --srcollbar-bg: rgba(0, 0, 0, 0);
  --menu-scrollbar: rgba(22, 24, 35, 0.2);
}

.container {
  width: 1199px;
}

.separate {
  display: inline-block;
  width: 100%;
  height: 1px;
  background: rgba(210, 208, 192, 0.21);
}

.h1 {
  font-family: var(--font-popins);
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.13;
}

.h2 {
  color: #2d3134;
  font-family: var(--font-popins);
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}

.h4 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.34;
}

.b-1 {
  font-family: var(--font-popins);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

.b-2 {
  font-family: var(--font-popins);
  font-weight: 600;
  line-height: 1.63;
}

.p-1 {
  color: #676a6c;
  line-height: 1.63;
}

.p-2 {
  color: #676a6c;
  font-size: 1.4rem;
  line-height: 1.43;
}

.p-3 {
  color: #8a8a8a;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
}

@media (max-width: 767.98px) {
  .b-1 {
    font-size: 1.6rem;
    font-family: var(--font-popins);
    font-weight: 600;
    line-height: 1.63;
  }
}
::-webkit-scrollbar,
::-webkit-scrollbar {
  border-radius: 0;
  width: 2px;
  height: 3px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--menu-scrollbar);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: var(--srcollbar-bg);
}

.header {
  padding-top: 32px;
  height: 100vh;
}
.header__home {
  background: #fff;
}
.header__about {
  background-image: url("../../assets/img/about/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header__destination {
  background-image: url("../../assets/img/destination/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 991.98px) {
  .header__home, .header__page {
    height: auto;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__menu {
  display: flex;
}
.nav__menu-item {
  position: relative;
}
.nav__menu-item::after {
  content: "";
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-icon);
  transition: width 0.3s ease-in-out;
}
.nav__menu-item:hover::after {
  left: 0;
  width: 100%;
  justify-content: flex-start;
}
.nav__menu-link {
  display: inline-block;
  text-align: center;
  padding: 14px 17px;
  color: #676a6c;
  font-family: var(--font-popins);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.14;
}
.nav__menu-link:hover {
  text-shadow: 1px 0 0 #2d3134;
}
.nav__menu-link:hover + .nav__menu-item::after {
  width: 100%;
}
.nav__btn {
  background: #31c3e0 !important;
}
@media (max-width: 1199.98px) {
  .nav__menu--mobile {
    padding-top: 20px;
    position: fixed;
    inset: 0 40% 0 0;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    z-index: 999;
    transition: 0.3s;
  }
  .nav__menu-overlay {
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 998;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .nav__menu-overlay label {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .nav__menu-item--mobile-separate {
    margin-top: 5px;
    border-top: 1px solid #ccc;
  }
  .nav__menu-link--mobile {
    display: inline-block;
    align-content: center;
    height: 50px;
    padding-left: 20px;
    width: 100%;
  }
  .nav__checked:checked + .nav__menu--mobile, .nav__checked:checked ~ .nav__menu-overlay {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: translateX(0);
  }
  .nav__checked:checked ~ .nav__menu-overlay {
    opacity: 1;
  }
}

.footer {
  padding: 140px 0 40px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-bottom: 40px;
}
.footer__heading {
  color: #020000;
  font-weight: 600;
  line-height: 1;
}
.footer__link {
  color: #676a6c;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3.17;
}
.footer__desc-lagre {
  width: 200px;
  color: #676a6c;
  font-size: 1.4rem;
  line-height: 1.86;
}
.footer__mail {
  margin-top: 16px;
  color: #31c3e0;
  font-weight: 700;
}
.footer__nav {
  margin-top: 45px;
}
.footer__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
}
.footer__icon {
  width: 46px;
  height: 46px;
}
@media (max-width: 767.98px) {
  .footer {
    padding-top: 60px;
  }
  .footer__desc-lagre {
    width: 100%;
  }
  .footer__nav {
    gap: 30px;
    flex-direction: column;
    align-items: start;
  }
  .footer__menu {
    flex-direction: column;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.logo__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--color-icon);
  color: #fff;
  font-weight: 700;
}
.logo__title {
  color: #212832;
  font-size: 2.4rem;
  font-weight: 700;
}
.logo__dost {
  margin-left: -6px;
  color: var(--color-icon);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-radius: 8px;
  padding: 16px 26px 16px 28px;
  gap: 10px;
  background: var(--color-icon);
  user-select: none;
  font-family: var(--font-popins);
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  letter-spacing: -0.14px;
}

.button-about {
  margin: 80px auto 0;
  padding: 24px 32px;
  width: 191px;
  height: 66px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.18px;
  border-radius: 12px;
  background: var(--color-icon);
  transition: 0.3s;
}
.button-about:hover {
  box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
}
@media (max-width: 575.98px) {
  .button-about {
    margin-top: 60px;
  }
}

.filter {
  margin: 101px auto 0;
  padding: 25px 40px;
  width: 761px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 75px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 40px 100px rgba(110, 110, 110, 0.08);
}
.filter__title {
  color: #0a192d;
  font-weight: 600;
  line-height: 1;
}
.filter__select {
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
.filter__desc {
  color: #697280;
  font-size: 1.4rem;
  line-height: 1;
}
.filter__btn {
  padding: 24px 40px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 170px;
  height: 64px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 0.89;
  letter-spacing: 0.36px;
  border-radius: 8px;
  background: #132742;
  box-shadow: 0px 25px 25px -20px rgba(0, 0, 0, 0.2);
}
@media (max-width: 991.98px) {
  .filter {
    margin-top: 50px;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .filter {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.process {
  margin-top: 142px;
}
.process__img {
  margin-left: 51px;
}
.process__desc {
  margin-top: 16px;
  width: 493px;
}
.process__list {
  margin-top: 59px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.process__item {
  display: flex;
  align-items: center;
  gap: 30px;
}
.process__icon {
  border-radius: 8px;
  transition: background 0.3s;
}
.process__item:hover .process__icon {
  background: #fffcf9;
}
.process__sub-desc {
  margin-top: 8px;
  width: 319px;
}
@media (max-width: 1199.98px) {
  .process__img {
    margin-left: 0;
  }
}
@media (max-width: 991.98px) {
  .process {
    margin-top: 100px;
  }
  .process__desc {
    width: 100%;
  }
  .process__list {
    margin-top: 40px;
  }
  .process__item {
    gap: 20px;
  }
  .process__sub-desc {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .process {
    margin-top: 60px;
  }
  .process__title {
    font-size: 2.4rem;
    line-height: 1.38;
  }
  .process__desc {
    margin-top: 10px;
  }
  .process__desc, .process__sub-title {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.43;
  }
  .process__list {
    margin-top: 30px;
  }
  .process__icon {
    width: 40px;
    height: 40px;
  }
  .process__sub-desc {
    margin-top: 6px;
    font-size: 1rem;
    line-height: 1.6;
  }
}
@media (max-width: 575.98px) {
  .process__list {
    gap: 16px;
  }
  .process__item {
    gap: 14px;
  }
}

.submit {
  margin-top: 184px;
}
.submit__block {
  position: relative;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background: #e8c400;
}
.submit__block::before {
  content: url("../../assets/icon/triangular.svg");
  position: absolute;
  top: -30px;
  left: 79px;
}
.submit__block::after {
  content: url("../../assets/icon/half-circle.svg");
  position: absolute;
  right: 139px;
  bottom: 106px;
}
.submit__title {
  color: #fff;
  text-align: center;
}
.submit__desc {
  margin-top: 6px;
  width: 425px;
  color: rgba(255, 255, 255, 0.88);
  text-align: center;
}
.submit__group {
  margin-top: 41px;
  position: relative;
}
.submit__input {
  padding: 23px 26px;
  width: 450px;
  height: 60px;
  border-radius: 12px;
  background: #fff;
}
.submit__btn {
  position: absolute;
  top: 10px;
  right: 12px;
}
.submit__btn:hover {
  opacity: 1;
}
.submit__input:placeholder-shown + .submit__btn {
  opacity: 0.8;
  pointer-events: none;
}
@media (max-width: 991.98px) {
  .submit__block::after {
    right: 25px;
  }
}
@media (max-width: 991.98px) {
  .submit__block::after {
    bottom: 20px;
  }
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}
.hero__img {
  position: absolute;
  z-index: -1;
}
.hero__heading {
  text-align: center;
}
@media (max-width: 991.98px) {
  .hero__heading {
    font-size: 4.9rem;
  }
}
@media (max-width: 767.98px) {
  .hero__heading {
    font-size: 4rem;
  }
}
@media (max-width: 575.98px) {
  .hero__img {
    width: 190px;
    height: 192px;
  }
}

.home-hero {
  padding-top: 50px;
}
.home-hero__content {
  margin-top: 65px;
}
.home-hero__heading {
  width: 453px;
  color: #2d3134;
  font-family: var(--font-popins);
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.13;
}
.home-hero__desc {
  margin-top: 17px;
  width: 352px;
}
.home-hero__group-btn {
  margin-top: 51px;
  display: flex;
  align-items: center;
}
.home-hero__btn {
  width: 191px;
  height: 66px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.18px;
}
.home-hero__icon-play {
  margin-left: 28px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.home-hero__icon-play:hover {
  rotate: 180deg;
}
.home-hero__btn-link {
  margin-left: 13px;
  color: #4d4f56;
}
.home-hero__img {
  position: relative;
  z-index: 1;
}
.home-hero__img::before {
  content: url("../../assets/img/public/shapes.png");
  position: absolute;
  top: 0;
  left: -50px;
  z-index: -1;
}
.home-hero__img::after {
  content: "";
  position: absolute;
  left: -61px;
  bottom: 0;
  display: inline-block;
  width: 462px;
  height: 2px;
  background: #1f1a1e;
}
.home-hero__card {
  position: absolute;
  bottom: 33px;
  left: -91px;
  padding: 21px 35px 26px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 50px 100px -25px rgba(0, 0, 0, 0.1);
}
.home-hero__circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 91px;
  z-index: 1;
}
.home-hero__circle::before {
  content: url("../../assets/icon/circle.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
}
.home-hero__card--time {
  color: #0d1e3f;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.23;
}
.home-hero__card--sub-desc {
  margin-top: 2px;
  color: #a5a8b4;
  font-size: 0.6rem;
  font-weight: 500;
  line-height: normal;
}
.home-hero__card--number {
  margin-top: 18px;
  color: #0d1e3f;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
}
.home-hero__card--desc {
  margin-top: 9px;
  color: #aeb4cf;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
}
.home-hero__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-hero__prosper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.home-hero__prosper--item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.home-hero__prosper--icon {
  border-radius: 12px;
  box-shadow: -5px 10px 20px #eee;
}
.home-hero__prosper--num {
  color: #0a192d;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.34;
}
.home-hero__prosper--desc {
  margin-top: 4px;
}
@media (max-width: 1199.98px) {
  .home-hero__right {
    justify-content: end;
  }
}
@media (max-width: 991.98px) {
  .home-hero__row {
    flex-direction: column;
  }
  .home-hero__content {
    margin-top: 0;
  }
  .home-hero__heading, .home-hero__desc {
    width: 100%;
  }
  .home-hero__right {
    margin-top: 60px;
    justify-content: space-between;
  }
  .home-hero__img {
    margin-left: 91px;
  }
}
@media (max-width: 767.98px) {
  .home-hero__right {
    margin-top: 60px;
    justify-content: center;
  }
  .home-hero__img {
    margin-left: 45px;
  }
}
@media (max-width: 575.98px) {
  .home-hero__heading {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25;
  }
  .home-hero__desc {
    margin-top: 14px;
    font-size: 1.4rem;
    line-height: 1.43;
  }
  .home-hero__group-btn {
    margin-top: 40px;
    gap: 20px;
  }
  .home-hero__btn {
    width: 161px;
    height: 58px;
    font-size: 1.6rem;
    line-height: 1.38;
    padding: 18px;
  }
  .home-hero__btn-link {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.43;
  }
  .home-hero__img::before {
    content: url("../../assets/img/public/shapes-small.png");
  }
  .home-hero__img::after {
    left: -41px;
    width: calc(100% + 41px);
  }
  .home-hero__person {
    width: 259px;
    height: 347px;
  }
  .home-hero__icon-play, .home-hero__btn-link {
    margin-left: 0;
  }
  .home-hero__card {
    padding: 14px 24px 17px;
    border-radius: 11px;
    background: #fff;
    box-shadow: 0px 34px 68px -17px rgba(0, 0, 0, 0.1);
    left: -61px;
  }
  .home-hero__circle {
    height: 62px;
  }
  .home-hero__circle::before {
    content: url("../../assets/icon/circle-small.svg");
  }
  .home-hero__card--time {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.23;
  }
  .home-hero__card--sub-desc {
    font-size: 0.4rem;
  }
  .home-hero__card--number {
    margin-top: 12px;
    font-size: 1.6rem;
  }
  .home-hero__card--desc {
    font-size: 0.8rem;
  }
}

.service {
  padding-top: 140px;
}
.service__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__desc {
  margin-top: 16px;
  width: 507px;
}
.service__btn {
  padding: 24px 32px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  width: 191px;
  height: 66px;
  border-radius: 12px;
  background: var(--color-icon);
  box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
}
.service__list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 39px;
}
.service__item {
  border-radius: 0px 0px 12px 12px;
  background: #fff;
  box-shadow: 0px 17px 55px 0px rgba(96, 100, 100, 0.05);
  transition: 0.3s;
  cursor: pointer;
}
.service__item:hover {
  box-shadow: 0px 24px 55px 0px rgba(51, 56, 56, 0.06);
}
.service__img {
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 322px;
  object-fit: cover;
}
.service__content {
  padding: 20px 28px 23px;
}
.service__price {
  color: #ff7b29;
}
.service__nation {
  margin-top: 6px;
  color: #1f1d63;
}
.service__group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.service__days {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 28px;
}
.service__info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.service__sub-desc {
  color: #676a6c;
}
@media (max-width: 991.98px) {
  .service__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .service__desc {
    width: 82%;
  }
}
@media (max-width: 767.98px) {
  .service {
    padding-top: 60px;
  }
  .service__top {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .service__list {
    margin-top: 50px;
    grid-template-columns: 1fr;
  }
  .service__title {
    height: 32px;
    font-size: 2.4rem;
    line-height: 2.34;
  }
  .service__desc {
    margin-top: 16px;
    width: 100%;
  }
  .service__btn {
    padding: 18px 20px;
    width: 167px;
    height: 58px;
    font-size: 1.6rem;
    line-height: 1.38;
  }
  .service__content {
    padding: 20px;
  }
  .service__price {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
  }
  .service__nation {
    font-size: 1.6rem;
    line-height: 1.63;
  }
  .service__group {
    margin-top: 18px;
  }
}

.blog {
  margin-top: 138px;
}
.blog__row-top {
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.blog__desc {
  margin-top: 16px;
}
.blog__group {
  display: flex;
  align-items: center;
  gap: 14px;
}
.blog__icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border: 1px solid #ececec;
  border-radius: 50%;
  transition: 0.25s;
  cursor: pointer;
}
.blog__icon {
  width: 18px;
  height: 8px;
}
.blog__icon-next {
  transform: rotate(180deg);
}
.blog__icon-btn:hover {
  border-color: #ff7b29;
  background: #ff7b29;
}
.blog__icon-btn:hover > .blog__icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(3%) hue-rotate(56deg) brightness(110%) contrast(101%);
}
.blog__list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
  overflow: auto;
  padding-bottom: 8px;
}
.blog__item {
  padding: 15px 15px 24px;
  border-radius: 16px;
  border: 1px solid #e6e6e6;
  transition: 0.3s;
}
.blog__item:hover {
  background: #fff;
  box-shadow: 0px 40px 90px 0px rgba(0, 0, 0, 0.06);
}
.blog__img {
  width: 356px;
  height: 190px;
  border-radius: 16px;
  object-fit: cover;
}
.blog__sub-title {
  margin-top: 18px;
}
.blog__content {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}
.blog__desc:first-child {
  padding-right: 8px;
  border-right: 1px solid #e1e1e1;
}
.blog__buy {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__btn {
  padding: 12px 16px;
  width: 100px;
  height: 38px;
  color: #30bbd7;
  border: 2px solid #30bbd7;
  background: transparent;
  transition: 0.3s;
}
.blog__item:hover .blog__btn {
  color: #fff;
  background: #31c3e0;
}
.blog__brand {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 14px;
}
.blog__logo {
  padding: 4px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  width: 20px;
  height: 20px;
  color: #fff;
  background: var(--color-icon);
  border-radius: 50%;
}
.blog__logo-name {
  color: #737979;
}
@media (max-width: 767.98px) {
  .blog {
    margin-top: 60px;
  }
  .blog__title {
    font-size: 2.4rem;
    line-height: 1.34;
  }
  .blog__desc {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.43;
  }
  .blog__icon-btn {
    width: 41px;
    height: 41px;
  }
  .blog__list {
    margin-top: 30px;
  }
  .blog__item {
    padding-bottom: 29px;
  }
  .blog__img {
    width: 310px;
    height: 175px;
  }
  .blog__sub-title {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.63;
  }
}

.check-in {
  padding-top: 140px;
}
.check-in__row-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.check-in__desc {
  margin-top: 16px;
}
.check-in__btn {
  padding: 24px 30px;
  color: #fff;
  text-align: center;
  font-family: var(--font-popins);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.18px;
  width: 233px;
  height: 66px;
  border-radius: 12px;
  box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
}
.check-in__list {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 30px;
  overflow-y: auto;
  border-radius: 24px;
}
.check-in__item {
  display: flex;
  gap: 30px;
}
.check-in__item:nth-child(even) {
  display: flex;
  flex-direction: column;
}
.check-in__img--small-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.check-in__img--small-2 {
  display: flex;
  justify-content: space-between;
}
.check-in__img {
  position: relative;
}
.check-in__img::before {
  content: "3.5";
  position: absolute;
  top: 22px;
  left: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 28px;
  color: #ff7b29;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.check-in__content {
  position: absolute;
  bottom: 20px;
  left: 24px;
}
.check-in__heading {
  color: #fff;
}
.check-in__sub-desc {
  margin-top: 4px;
  color: #fff;
}
@media (max-width: 767.98px) {
  .check-in {
    padding-top: 60px;
  }
  .check-in__row-top {
    flex-direction: column;
    align-items: start;
  }
  .check-in__title {
    font-size: 2.4rem;
    line-height: 1.34;
  }
  .check-in__desc {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.43;
  }
  .check-in__btn {
    padding: 18px 20px;
    width: 196px;
    height: 58px;
    font-size: 1.6rem;
    line-height: 1.38;
  }
  .check-in__list {
    flex-direction: column;
    overflow-y: initial;
    align-items: start;
  }
  .check-in .check-in__img-1 {
    width: 205.5px;
    height: 187.5px;
  }
  .check-in .check-in__img-2 {
    width: 205.5px;
    height: 187.5px;
  }
  .check-in .check-in__img-3 {
    width: 205.5px;
    height: 187.5px;
  }
  .check-in .check-in__img-4 {
    width: 205.5px;
    height: 187.5px;
  }
  .check-in .check-in__img-5 {
    width: 205.5px;
    height: 187.5px;
  }
  .check-in .check-in__img-6 {
    width: 205.5px;
    height: 187.5px;
  }
  .check-in__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
  .check-in__img-4 {
    width: 100% !important;
  }
  .check-in__img-3 {
    height: 405px !important;
  }
  .check-in__img--small-1, .check-in__img--small-2 {
    gap: 30px;
  }
  .check-in__img--small-1 {
    justify-content: initial;
  }
}
@media (max-width: 575.98px) {
  .check-in__list, .check-in__item, .check-in__img--small-1, .check-in__img--small-2 {
    gap: 15px;
  }
  .check-in__list {
    overflow-y: auto;
    border-radius: 8px;
  }
  .check-in__img-3 {
    height: 383px !important;
  }
  .check-in__list {
    height: 800px;
  }
}

.tour-type {
  margin-top: 140px;
}
.tour-type__title {
  text-align: center;
}
.tour-type__list {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.tour-type__item {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 240px;
  border-radius: 12px;
  border: 2px solid #ececec;
  background: #fff;
}
.tour-type__sub-title {
  margin-top: 28px;
  color: #2d3134;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1;
}
.tour-type__desc {
  margin-top: 18px;
  color: #676a6c;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
}
.tour-type__price {
  color: #ff7b29;
  font-weight: 600;
}
@media (max-width: 1399.98px) {
  .tour-type__list {
    gap: 8px;
  }
}
@media (max-width: 1199.98px) {
  .tour-type__list {
    grid-template-columns: repeat(2, 270px);
    gap: 60px;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .tour-type {
    margin-top: 80px;
  }
  .tour-type__title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.34;
  }
  .tour-type__list {
    margin-top: 40px;
    grid-template-columns: 270px;
    gap: 20px;
  }
}

.rating {
  margin-top: 300px;
}
.rating__row {
  gap: 165px;
  align-items: start;
  flex-wrap: nowrap;
}
.rating__img {
  margin-left: 47px;
  position: relative;
}
.rating__img::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: #fff5f4;
  background-image: linear-gradient(11deg, #fff5f4 41%, #ffffff 76%);
  border-radius: 50%;
  z-index: -1;
}
.rating__img::after {
  content: url("../../assets/img/home/shapes-blue.png");
  position: absolute;
  top: -125px;
  left: -43px;
  z-index: -1;
}
.rating__img-person {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.rating__title {
  margin-top: 5px;
  color: #2d3134;
  font-family: var(--font-popins);
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.25;
}
.rating__desc {
  margin-top: 22px;
  width: 516px;
  color: #676a6c;
  font-family: var(--font-popins);
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.56;
}
.rating__info {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 18px;
}
.rating__sub-title {
  color: #000;
  font-family: var(--font-popins);
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.14px;
}
.rating__sub-desc {
  margin-top: 2px;
  color: #747474;
  font-family: var(--font-popins);
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: -0.12px;
}
.rating__group {
  margin-top: 14px;
}
@media (max-width: 1199.98px) {
  .rating__row {
    gap: 30px;
    justify-content: space-between;
  }
  .rating__img {
    margin-left: 0;
  }
}
@media (max-width: 991.98px) {
  .rating {
    margin-top: 157px;
  }
  .rating__row {
    flex-direction: column;
    align-items: center;
    gap: 56px;
  }
}
@media (max-width: 767.98px) {
  .rating__title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.34;
  }
  .rating__desc {
    margin-top: 12px;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.43;
  }
  .rating__info {
    margin-top: 30px;
  }
  .rating__img::before {
    width: 200px;
    height: 200px;
  }
  .rating__img::after {
    content: url("../../assets/icon/Shapes-blue-small.svg");
    top: -70px;
    left: -10px;
  }
  .rating__img-person {
    width: 202px;
    height: 217px;
  }
}

.review {
  margin-top: 193px;
}
.review__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.review__desc {
  margin-top: 16px;
  width: 733px;
  text-align: center;
}
.review__underline {
  margin-top: 30px;
}
.review__row {
  margin-top: 60px;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.review__list {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.review__img {
  display: inline-block;
  width: 220px;
  height: 219px;
  border-radius: 12px;
  object-fit: cover;
}
.review__img-lagre {
  width: 542px;
  height: 510px;
}
.review__content {
  display: flex;
  flex-direction: column;
}
.review__content-lagre {
  margin-top: 42px;
}
.review__sub-title {
  width: 253px;
  color: #2d3134;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.46;
}
.review__sub-title-lagre {
  font-size: 2.6rem;
  width: 359px;
}
.review__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review__sub-desc {
  margin-top: 12px;
  width: 225px;
  color: #676a6c;
  line-height: 1.63;
}
.review__sub-desc--large {
  margin-top: 14px;
  width: 412px;
  font-size: 1.8rem;
}
.review__card {
  display: flex;
  gap: 36px;
}
.review__day {
  margin-top: 51px;
  color: #676a6c;
  font-size: 1.4rem;
}
.review__day-lagre {
  margin-top: 0 !important;
}
@media (max-width: 1199.98px) {
  .review {
    margin-top: 120px;
  }
  .review__card-lagre {
    width: 457px;
  }
  .review__img-lagre {
    width: 427px;
  }
  .review__card {
    gap: 20px;
  }
  .review__sub-title, .review__sub-desc {
    width: 100%;
  }
  .review__day {
    margin-top: auto;
  }
  .review__sub-title-lagre {
    width: 75%;
  }
}
@media (max-width: 991.98px) {
  .review {
    margin-top: 60px;
  }
  .review__row {
    flex-direction: column;
  }
  .review__card-lagre, .review__img-lagre {
    width: 100% !important;
    height: auto !important;
  }
  .review__list {
    margin-top: 24px;
  }
  .review__desc {
    width: 100%;
  }
  .review__title {
    font-size: 3.8rem;
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .review__title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.34;
  }
  .review__desc {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.43;
  }
  .review__underline {
    margin-top: 16px;
  }
  .review__row {
    margin-top: 40px;
  }
  .review__content-lagre {
    margin-top: 16px;
  }
  .review__sub-title {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
  }
  .review__sub-desc {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.43;
  }
  .review__day {
    margin-top: 16px !important;
  }
  .review__img {
    width: 110px;
    height: 110px;
  }
  .review__card {
    gap: 14px;
  }
  .review__list {
    gap: 24px;
  }
}

.about__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}
.about__title {
  color: var(--Color-1, #ff7b29);
  text-align: center;
  align-content: center;
  font-family: var(--font-popins);
  font-size: 13.6rem;
  font-weight: 700;
  line-height: 1.1;
}
@media (max-width: 991.98px) {
  .about__title {
    font-size: 11.6rem;
  }
}
@media (max-width: 767.98px) {
  .about__title {
    font-size: 8.6rem;
  }
}
@media (max-width: 767.98px) {
  .about__title {
    font-size: 4rem;
  }
}
.about-blog {
  margin-top: 140px;
}
.about-blog__row {
  justify-content: space-between;
  align-items: center;
}
.about-blog__label {
  color: #ff7b29;
}
.about-blog__title {
  margin-top: 10px;
  width: 515px;
}
.about-blog__desc {
  margin-top: 20px;
  width: 528px;
}
.about-blog__img {
  width: 533px;
}
.about-blog__img-review {
  width: 100%;
  height: 482px;
  border-radius: 24px;
  object-fit: cover;
}
@media (max-width: 1199.98px) {
  .about-blog__content, .about-blog__img {
    width: 50%;
  }
  .about-blog__title, .about-blog__desc {
    width: 100%;
  }
  .about-blog__title {
    font-size: 5.5rem;
  }
}
@media (max-width: 991.98px) {
  .about-blog {
    margin-top: 100px;
  }
  .about-blog__row {
    flex-direction: column;
    gap: 65px;
  }
  .about-blog__content, .about-blog__img {
    width: 100%;
  }
  .about-blog__img-review {
    height: 100%;
  }
  .about-blog__img-mobile {
    margin-top: 65px;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .about-blog {
    margin-top: 60px;
  }
  .about-blog__row {
    gap: 30px;
  }
  .about-blog__label {
    font-size: 2rem;
    line-height: 1.5;
  }
  .about-blog__title {
    font-size: 4rem;
    line-height: 1.25;
  }
  .about-blog__desc {
    margin-top: 14px;
    font-size: 1.4rem;
    line-height: 1.43;
  }
}
.about-process {
  margin-top: 140px;
}
@media (max-width: 991.98px) {
  .about-process {
    margin-top: 100px;
  }
}
@media (max-width: 767.98px) {
  .about-process {
    margin-top: 60px;
  }
}
.about-menter {
  margin-top: 140px;
}
.about-menter__title {
  text-align: center;
}
.about-menter__row {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
}
.about-menter__img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}
.about-menter__info {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-menter__position {
  margin-top: 4px;
}
.about-menter__icon {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 991.98px) {
  .about-menter {
    margin-top: 100px;
  }
  .about-menter__row {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .about-menter__row {
    margin-top: 40px;
    gap: 20px;
  }
  .about-menter__title {
    font-size: 2.4rem;
    line-height: 1.34;
  }
  .about-menter__position {
    margin-top: 2px;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .about-menter__icon {
    gap: 10px;
  }
}
@media (max-width: 575.98px) {
  .about-menter {
    margin-top: 60px;
  }
  .about-menter__row {
    grid-template-columns: 1fr;
  }
}

.destination__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 80px);
}
.destination__title {
  color: #ff7b29;
  font-family: var(--font-popins);
  font-size: 13.6rem;
  font-weight: 700;
  line-height: 1.1;
}
.destination__desc {
  margin-top: 6px;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.34;
}
@media (max-width: 1199.98px) {
  .destination__title {
    font-size: 10rem;
  }
}
@media (max-width: 767.98px) {
  .destination__title {
    font-size: 7rem;
  }
  .destination__desc {
    font-size: 2rem;
  }
}
@media (max-width: 575.98px) {
  .destination__title {
    font-size: 4rem;
  }
  .destination__desc {
    font-size: 1.6rem;
  }
}
.destination-block {
  margin-top: 140px;
}
.destination-block__row {
  row-gap: 40px;
}
.destination-block__img {
  width: 270px;
  height: 180px;
  border-radius: 8px;
  object-fit: cover;
}
.destination-block__title {
  margin-top: 20px;
}
@media (max-width: 991.98px) {
  .destination-block {
    margin-top: 100px;
  }
  .destination-block__img {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .destination-block {
    margin-top: 60px;
  }
  .destination-block__row {
    gap: 20px;
  }
}

.blog-new__row {
  justify-content: space-between;
  align-items: start;
  gap: 56px;
}
.blog-new__img-lagre {
  width: 100%;
  height: 416px;
  border-radius: 10px;
  object-fit: cover;
}
.blog-new__title-lagre {
  margin-top: 24px;
  width: 100%;
}
.blog-new__block-lagre, .blog-new__block {
  width: calc(50% - 28px);
}
.blog-new__block {
  padding: 30px 30px 44px;
  border-radius: 10px;
  background: #ececec;
}
.blog-new__search {
  display: flex;
  align-items: center;
  gap: 20px;
}
.blog-new__search-input {
  padding: 14px 20px;
  flex: 1;
  border-radius: 8px;
  border: 1px solid #ececec;
  background: #fff;
}
.blog-new__btn {
  padding: 14px 20px;
  width: 117px;
  height: 54px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.63;
}
.blog-new__heading {
  margin-top: 40px;
}
.blog-new__list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blog-new__item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.blog-new__img {
  width: 30%;
  height: 90px;
  border-radius: 8px;
  object-fit: cover;
}
.blog-new__title {
  flex: 1;
  font-family: var(--font-popins);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
}
.blog-new__search-input:placeholder-shown + .blog-new__btn {
  opacity: 0.8;
  pointer-events: none;
}
@media (max-width: 991.98px) {
  .blog-new__row {
    row-gap: 50px;
  }
  .blog-new__block-lagre, .blog-new__block {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .blog-new__title-lagre {
    font-size: 2.4rem;
  }
}
.blog-about {
  margin-top: 112px;
}
.blog-about__row {
  row-gap: 30px;
}
.blog-about__img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}
.blog-about__title {
  margin-top: 20px;
}
.blog-about__desc {
  margin-top: 16px;
}
.blog-about__link {
  padding-top: 20px;
  display: block;
  color: #ff7b29;
  font-family: var(--font-popins);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
}
@media (max-width: 991.98px) {
  .blog-about {
    margin-top: 100px;
  }
}
@media (max-width: 767.98px) {
  .blog-about {
    margin-top: 60px;
  }
  .blog-about__row {
    row-gap: 26px;
  }
  .blog-about__title {
    margin-top: 14px;
    font-size: 2rem;
  }
  .blog-about__desc {
    margin-top: 10px;
    font-size: 1.4rem;
  }
  .blog-about__link {
    padding-top: 16px;
    font-size: 1.6rem;
  }
}

.page-hero {
  height: 60vh;
}
.page__img {
  width: 203px;
  height: 207px;
}
.page-list__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.page-list__item {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.page-list__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.page-list__content {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
  background: #ececec;
}
.page-list__info {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 2px;
}
.page-list__day {
  color: #676a6c;
}
@media (max-width: 991.98px) {
  .page-list {
    margin-top: 60px;
  }
  .page-list__row {
    grid-template-columns: 1fr;
  }
  .page-list__img {
    height: 356px;
  }
}
@media (max-width: 767.98px) {
  .page-list__title {
    font-size: 3.5rem;
  }
  .page-list__content {
    padding: 20px;
  }
}
@media (max-width: 575.98px) {
  .page-list__row {
    gap: 30px;
  }
  .page-list__img {
    height: 250px;
  }
  .page-list__content {
    padding: 14px 19px;
  }
  .page-list__title, .page-list__price {
    font-size: 2rem;
  }
  .page-list__day {
    font-size: 1.2rem;
  }
}

.error {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-popins);
  height: calc(100vh - 80px);
}
.error__content {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
}
.error__desc {
  color: #676a6c;
  font-size: 6.2rem;
  font-weight: 500;
  line-height: 1.12;
}
.error__title {
  margin-top: 19px;
  font-size: 6.2rem;
  font-weight: 600;
  line-height: 1.12;
}

/*# sourceMappingURL=main.css.map */
