@use "../abstracts";
.about {
    &__heading {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 80px);
    }

    &__title {
        color: var(--Color-1, #ff7b29);
        text-align: center;
        align-content: center;
        font-family: var(--font-popins);
        font-size: 13.6rem;
        font-weight: 700;
        line-height: 1.1;
    }

    @include abstracts.screen(lg) {
        &__title {
            font-size: 11.6rem;
        }
    }
    @include abstracts.screen(md) {
        &__title {
            font-size: 8.6rem;
        }
    }
    @include abstracts.screen(md) {
        &__title {
            font-size: 4rem;
        }
    }
    // blog
    &-blog {
        margin-top: 140px;

        &__row {
            justify-content: space-between;
            align-items: center;
        }
        &__label {
            color: #ff7b29;
        }

        &__title {
            margin-top: 10px;
            width: 515px;
        }

        &__desc {
            margin-top: 20px;
            width: 528px;
        }

        &__img {
            width: 533px;
        }

        &__img-review {
            width: 100%;
            height: 482px;
            border-radius: 24px;
            object-fit: cover;
        }

        @include abstracts.screen(xl) {
            &__content,
            &__img {
                width: 50%;
            }

            &__title,
            &__desc {
                width: 100%;
            }

            &__title {
                font-size: 5.5rem;
            }
        }

        @include abstracts.screen(lg) {
            margin-top: 100px;

            &__row {
                flex-direction: column;
                gap: 65px;
            }

            &__content,
            &__img {
                width: 100%;
            }
            &__img-review {
                height: 100%;
            }

            &__img-mobile {
                margin-top: 65px;
                width: 100%;
            }
        }

        @include abstracts.screen(sm) {
            margin-top: 60px;

            &__row {
                gap: 30px;
            }

            &__label {
                font-size: 2rem;
                line-height: 1.5;
            }

            &__title {
                font-size: 4rem;
                line-height: 1.25;
            }

            &__desc {
                margin-top: 14px;
                font-size: 1.4rem;
                line-height: 1.43;
            }
        }
    }
    // process
    &-process {
        margin-top: 140px;

        @include abstracts.screen(lg) {
            margin-top: 100px;
        }

        @include abstracts.screen(md) {
            margin-top: 60px;
        }
    }
    // menter
    &-menter {
        margin-top: 140px;
        &__title {
            text-align: center;
        }

        &__row {
            margin-top: 60px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-between;
            align-items: center;
        }

        &__img {
            width: 100%;
            height: 100%;
            border-radius: 12px;
            object-fit: cover;
        }

        &__info {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__position {
            margin-top: 4px;
        }

        &__icon {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        @include abstracts.screen(lg) {
            margin-top: 100px;
            &__row {
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;
            }
        }

        @include abstracts.screen(md) {
            &__row {
                margin-top: 40px;
                gap: 20px;
            }

            &__title {
                font-size: 2.4rem;
                line-height: 1.34;
            }

            &__position {
                margin-top: 2px;
                font-size: 1.2rem;
                line-height: 1.5;
            }

            &__icon {
                gap: 10px;
            }
        }

        @include abstracts.screen(sm) {
            margin-top: 60px;

            &__row {
                grid-template-columns: 1fr;
            }
        }
    }
}
