@use "../abstracts";
.blog {
    // new
    &-new {
        &__row {
            justify-content: space-between;
            align-items: start;
            gap: 56px;
        }

        &__img-lagre {
            width: 100%;
            height: 416px;
            border-radius: 10px;
            object-fit: cover;
        }

        &__title-lagre {
            margin-top: 24px;
            width: 100%;
        }

        &__block-lagre,
        &__block {
            width: calc(50% - 28px);
        }

        &__block {
            padding: 30px 30px 44px;
            border-radius: 10px;
            background: #ececec;
        }

        &__search {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        &__search-input {
            padding: 14px 20px;
            flex: 1;
            border-radius: 8px;
            border: 1px solid #ececec;
            background: #fff;
        }

        &__btn {
            padding: 14px 20px;
            width: 117px;
            height: 54px;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.63;
        }

        &__heading {
            margin-top: 40px;
        }

        &__list {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__item {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        &__img {
            width: 30%;
            height: 90px;
            border-radius: 8px;
            object-fit: cover;
        }

        &__title {
            flex: 1;
            font-family: var(--font-popins);
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.5;
        }

        &__search-input:placeholder-shown + &__btn {
            opacity: 0.8;
            pointer-events: none;
        }

        @include abstracts.screen(lg) {
            &__row {
                row-gap: 50px;
            }

            &__block-lagre,
            &__block {
                width: 100%;
            }
        }

        @include abstracts.screen(md) {
            &__title-lagre {
                font-size: 2.4rem;
            }
        }
    }
    // about
    &-about {
        margin-top: 112px;

        &__row {
            row-gap: 30px;
        }

        &__img {
            width: 100%;
            height: 300px;
            border-radius: 10px;
            object-fit: cover;
        }

        &__title {
            margin-top: 20px;
        }

        &__desc {
            margin-top: 16px;
        }

        &__link {
            padding-top: 20px;
            display: block;
            color: #ff7b29;
            font-family: var(--font-popins);
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.5;
        }

        @include abstracts.screen(lg) {
            margin-top: 100px;
        }

        @include abstracts.screen(md) {
            margin-top: 60px;

            &__row {
                row-gap: 26px;
            }

            &__title {
                margin-top: 14px;
                font-size: 2rem;
            }

            &__desc {
                margin-top: 10px;
                font-size: 1.4rem;
            }

            &__link {
                padding-top: 16px;
                font-size: 1.6rem;
            }
        }
    }
}
