@use "../abstracts";
// hero
.hero {
    padding-top: 50px;

    &__content {
        margin-top: 65px;
    }

    &__heading {
        width: 453px;
        color: #2d3134;
        font-family: var(--font-popins);
        font-size: 6.2rem;
        font-weight: 700;
        line-height: 1.13;
    }

    &__desc {
        margin-top: 17px;
        width: 352px;
    }

    &__group-btn {
        margin-top: 51px;
        display: flex;
        align-items: center;
    }

    &__btn {
        width: 191px;
        height: 66px;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 0.18px;
    }

    &__icon-play {
        margin-left: 28px;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
            rotate: 180deg;
        }
    }

    &__btn-link {
        margin-left: 13px;
        color: #4d4f56;
    }

    &__img {
        position: relative;
        z-index: 1;
        &::before {
            content: url("../../assets/img/public/shapes.png");
            position: absolute;
            top: 0;
            left: -50px;
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            left: -61px;
            bottom: 0;
            display: inline-block;
            width: 462px;
            height: 2px;
            background: #1f1a1e;
        }
    }

    &__card {
        position: absolute;
        bottom: 33px;
        left: -91px;
        padding: 21px 35px 26px;
        border-radius: 16px;
        background: #fff;
        box-shadow: 0px 50px 100px -25px rgba(0, 0, 0, 0.1);
    }

    &__circle {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 91px;
        z-index: 1;
        &::before {
            content: url("../../assets/icon/circle.svg");
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            z-index: -1;
        }
    }

    &__card--time {
        color: #0d1e3f;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.23;
    }

    &__card--sub-desc {
        margin-top: 2px;
        color: #a5a8b4;
        font-size: 0.6rem;
        font-weight: 500;
        line-height: normal;
    }

    &__card--number {
        margin-top: 18px;
        color: #0d1e3f;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1;
    }

    &__card--desc {
        margin-top: 9px;
        color: #aeb4cf;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1;
    }

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__prosper {
        display: flex;
        flex-direction: column;
        gap: 48px;

        &--item {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        &--icon {
            border-radius: 12px;
            box-shadow: -5px 10px 20px #eee;
        }

        &--num {
            color: #0a192d;
            font-size: 3rem;
            font-weight: 800;
            line-height: 1.34;
        }

        &--desc {
            margin-top: 4px;
        }
    }

    @include abstracts.screen(xl) {
        &__right {
            justify-content: end;
        }
    }

    @include abstracts.screen(lg) {
        &__row {
            flex-direction: column;
        }

        &__content {
            margin-top: 0;
        }

        &__heading,
        &__desc {
            width: 100%;
        }

        &__right {
            margin-top: 60px;
            justify-content: space-between;
        }

        &__img {
            margin-left: 91px;
        }
    }

    @include abstracts.screen(md) {
        &__right {
            margin-top: 60px;
            justify-content: center;
        }

        &__img {
            margin-left: 45px;
        }
    }

    @include abstracts.screen(sm) {
        &__heading {
            font-size: 40px;
            font-weight: 600;
            line-height: 1.25;
        }

        &__desc {
            margin-top: 14px;
            font-size: 1.4rem;
            line-height: 1.43;
        }

        &__group-btn {
            margin-top: 40px;
            gap: 20px;
        }

        &__btn {
            width: 161px;
            height: 58px;
            font-size: 1.6rem;
            line-height: 1.38;
            padding: 18px;
        }

        &__btn-link {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.43;
        }

        &__img {
            &::before {
                content: url("../../assets/img/public/shapes-small.png");
            }

            &::after {
                left: -41px;
                width: calc(100% + 41px);
            }
        }

        &__person {
            width: 259px;
            height: 347px;
        }

        &__icon-play,
        &__btn-link {
            margin-left: 0;
        }

        &__card {
            padding: 14px 24px 17px;
            border-radius: 11px;
            background: #fff;
            box-shadow: 0px 34px 68px -17px rgba(0, 0, 0, 0.1);
            left: -61px;
        }

        &__circle {
            height: 62px;
            &::before {
                content: url("../../assets/icon/circle-small.svg");
            }
        }

        &__card--time {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.23;
        }

        &__card--sub-desc {
            font-size: 0.4rem;
        }

        &__card--number {
            margin-top: 12px;
            font-size: 1.6rem;
        }

        &__card--desc {
            font-size: 0.8rem;
        }
    }
}
// service
.service {
    padding-top: 140px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__desc {
        margin-top: 16px;
        width: 507px;
    }

    &__btn {
        padding: 24px 32px;

        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1;

        width: 191px;
        height: 66px;
        border-radius: 12px;
        background: var(--color-icon);
        box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
    }

    &__list {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        align-items: center;
        gap: 39px;
    }

    &__item {
        border-radius: 0px 0px 12px 12px;
        background: #fff;
        box-shadow: 0px 17px 55px 0px rgba(96, 100, 100, 0.05);
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 24px 55px 0px rgba(51, 56, 56, 0.06);
        }
    }

    &__img {
        border-radius: 12px 12px 0 0;
        width: 100%;
        height: 322px;
        object-fit: cover;
    }

    &__content {
        padding: 20px 28px 23px;
    }

    &__price {
        color: #ff7b29;
    }

    &__nation {
        margin-top: 6px;
        color: #1f1d63;
    }

    &__group {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    &__days {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 28px;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__sub-desc {
        color: #676a6c;
    }

    @include abstracts.screen(lg) {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }

        &__desc {
            width: 82%;
        }
    }

    @include abstracts.screen(md) {
        & {
            padding-top: 60px;
        }

        &__top {
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }

        &__list {
            margin-top: 50px;
            grid-template-columns: 1fr;
        }

        &__title {
            height: 32px;
            font-size: 2.4rem;
            line-height: 2.34;
        }

        &__desc {
            margin-top: 16px;
            width: 100%;
        }

        &__btn {
            padding: 18px 20px;

            width: 167px;
            height: 58px;

            font-size: 1.6rem;
            line-height: 1.38;
        }

        &__content {
            padding: 20px;
        }

        &__price {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
        }

        &__nation {
            font-size: 1.6rem;
            line-height: 1.63;
        }

        &__group {
            margin-top: 18px;
        }
    }
}
// blog
.blog {
    margin-top: 138px;

    &__row-top {
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    &__desc {
        margin-top: 16px;
    }

    &__group {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__icon-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        border: 1px solid #ececec;
        border-radius: 50%;
        transition: 0.25s;
        cursor: pointer;
    }

    &__icon {
        width: 18px;
        height: 8px;
    }

    &__icon-next {
        transform: rotate(180deg);
    }

    &__icon-btn:hover {
        border-color: #ff7b29;
        background: #ff7b29;
    }

    &__icon-btn:hover > &__icon {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(3%)
            hue-rotate(56deg) brightness(110%) contrast(101%);
    }

    &__list {
        margin-top: 55px;
        display: flex;
        gap: 30px;
        overflow: auto;
        padding-bottom: 8px;
    }

    &__item {
        padding: 15px 15px 24px;
        border-radius: 16px;
        border: 1px solid #e6e6e6;
        transition: 0.3s;
    }
    &__item:hover {
        background: #fff;
        box-shadow: 0px 40px 90px 0px rgba(0, 0, 0, 0.06);
    }

    &__img {
        width: 356px;
        height: 190px;
        border-radius: 16px;
        object-fit: cover;
    }

    &__sub-title {
        margin-top: 18px;
    }

    &__content {
        margin-top: 8px;
        display: flex;
        gap: 8px;
    }

    &__desc:first-child {
        padding-right: 8px;
        border-right: 1px solid #e1e1e1;
    }

    &__buy {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        padding: 12px 16px;
        width: 100px;
        height: 38px;
        color: #30bbd7;
        border: 2px solid #30bbd7;
        background: transparent;
        transition: 0.3s;
    }

    &__item:hover &__btn {
        color: #fff;
        background: #31c3e0;
    }

    &__brand {
        margin-top: 32px;
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__logo {
        padding: 4px 3px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1rem;
        font-weight: 700;
        width: 20px;
        height: 20px;

        color: #fff;
        background: var(--color-icon);
        border-radius: 50%;
    }

    &__logo-name {
        color: #737979;
    }

    @include abstracts.screen(md) {
        margin-top: 60px;
        &__title {
            font-size: 2.4rem;
            line-height: 1.34;
        }

        &__desc {
            margin-top: 10px;
            font-size: 1.4rem;
            line-height: 1.43;
        }

        &__icon-btn {
            width: 41px;
            height: 41px;
        }
        &__list {
            margin-top: 30px;
        }

        &__item {
            padding-bottom: 29px;
        }

        &__img {
            width: 310px;
            height: 175px;
        }
        &__sub-title {
            margin-top: 16px;
            font-size: 1.6rem;
            line-height: 1.63;
        }
    }
}
// check in
@mixin checkInImg($num: 1.5) {
    @for $i from 1 through 6 {
        .check-in__img-#{$i} {
            width: calc(137px * $num);
            height: calc(125px * $num);
        }
    }
}
.check-in {
    padding-top: 140px;

    &__container {
        // --grid-gutter-x: 0;
    }

    &__row-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    &__desc {
        margin-top: 16px;
    }

    &__btn {
        padding: 24px 30px;
        color: #fff;
        text-align: center;
        font-family: var(--font-popins);
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 0.18px;

        width: 233px;
        height: 66px;

        border-radius: 12px;
        box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
    }

    &__list {
        margin-top: 38px;
        display: flex;
        align-items: center;
        gap: 30px;
        overflow-y: auto;
        border-radius: 24px;
    }

    &__item {
        display: flex;
        gap: 30px;
    }

    &__item:nth-child(even) {
        display: flex;
        flex-direction: column;
    }

    &__img--small-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__img--small-2 {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        position: relative;
        &::before {
            content: "3.5";
            position: absolute;
            top: 22px;
            left: 24px;

            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 28px;

            color: #ff7b29;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1;

            border-radius: 14px;
            background: #fff;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
    }

    &__content {
        position: absolute;
        bottom: 20px;
        left: 24px;
    }

    &__heading {
        color: #fff;
    }

    &__sub-desc {
        margin-top: 4px;
        color: #fff;
    }

    @include abstracts.screen(md) {
        padding-top: 60px;
        &__row-top {
            flex-direction: column;
            align-items: start;
        }

        &__title {
            font-size: 2.4rem;
            line-height: 1.34;
        }

        &__desc {
            margin-top: 10px;
            font-size: 1.4rem;
            line-height: 1.43;
        }

        &__btn {
            padding: 18px 20px;
            width: 196px;
            height: 58px;
            font-size: 1.6rem;
            line-height: 1.38;
        }

        &__list {
            flex-direction: column;
            overflow-y: initial;
            align-items: start;
        }

        @include checkInImg();

        &__img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 16px;
        }

        &__img-4 {
            width: 100% !important;
        }

        &__img-3 {
            height: 405px !important;
        }

        &__img--small-1,
        &__img--small-2 {
            gap: 30px;
        }

        &__img--small-1 {
            justify-content: initial;
        }
    }

    @include abstracts.screen(sm) {
        &__list,
        &__item,
        &__img--small-1,
        &__img--small-2 {
            gap: 15px;
        }

        &__list {
            overflow-y: auto;
            border-radius: 8px;
        }

        &__img-3 {
            height: 383px !important;
        }

        &__list {
            height: 800px;
        }
    }
}
// tour type
.tour-type {
    margin-top: 140px;
    &__title {
        text-align: center;
    }

    &__list {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    &__item {
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 270px;
        height: 240px;
        border-radius: 12px;
        border: 2px solid #ececec;
        background: #fff;
    }

    &__sub-title {
        margin-top: 28px;
        color: #2d3134;
        text-align: center;
        font-size: 2.6rem;
        font-weight: 600;
        line-height: 1;
    }

    &__desc {
        margin-top: 18px;
        color: #676a6c;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1;
    }

    &__price {
        color: #ff7b29;
        font-weight: 600;
    }

    @include abstracts.screen(xxl) {
        &__list {
            gap: 8px;
        }
    }

    @include abstracts.screen(xl) {
        &__list {
            grid-template-columns: repeat(2, 270px);
            gap: 60px;
            justify-content: center;
        }
    }

    @include abstracts.screen(md) {
        margin-top: 80px;

        &__title {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.34;
        }

        &__list {
            margin-top: 40px;
            grid-template-columns: 270px;
            gap: 20px;
        }
    }
}
// rating
.rating {
    margin-top: 300px;

    &__row {
        gap: 165px;
        align-items: start;
        flex-wrap: nowrap;
    }

    &__img {
        margin-left: 47px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 300px;
            height: 300px;
            background-color: #fff5f4;
            background-image: linear-gradient(11deg, #fff5f4 41%, #ffffff 76%);

            border-radius: 50%;
            z-index: -1;
        }

        &::after {
            content: url("../../assets/img/home/shapes-blue.png");
            position: absolute;
            top: -125px;
            left: -43px;
            z-index: -1;
        }
    }

    &__img-person {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    &__title {
        margin-top: 5px;
        color: #2d3134;
        font-family: var(--font-popins);
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.25;
    }

    &__desc {
        margin-top: 22px;
        width: 516px;
        color: #676a6c;
        font-family: var(--font-popins);
        font-size: 1.8rem;
        font-style: italic;
        font-weight: 500;
        line-height: 1.56;
    }

    &__info {
        margin-top: 60px;
        display: flex;
        align-items: center;
        gap: 18px;
    }

    &__sub-title {
        color: #000;
        font-family: var(--font-popins);
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: -0.14px;
    }

    &__sub-desc {
        margin-top: 2px;
        color: #747474;
        font-family: var(--font-popins);
        font-size: 1.2rem;
        line-height: 1;
        letter-spacing: -0.12px;
    }

    &__group {
        margin-top: 14px;
    }

    @include abstracts.screen(xl) {
        &__row {
            gap: 30px;
            justify-content: space-between;
        }

        &__img {
            margin-left: 0;
        }
    }

    @include abstracts.screen(lg) {
        margin-top: 157px;
        &__row {
            flex-direction: column;
            align-items: center;
            gap: 56px;
        }
    }

    @include abstracts.screen(md) {
        &__title {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.34;
        }

        &__desc {
            margin-top: 12px;
            width: 100%;
            font-size: 1.4rem;
            line-height: 1.43;
        }

        &__info {
            margin-top: 30px;
        }

        &__img {
            &::before {
                width: 200px;
                height: 200px;
            }

            &::after {
                content: url("../../assets/icon/Shapes-blue-small.svg");
                top: -70px;
                left: -10px;
            }
        }

        &__img-person {
            width: 202px;
            height: 217px;
        }
    }
}
//review
.review {
    margin-top: 193px;

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__desc {
        margin-top: 16px;
        width: 733px;
        text-align: center;
    }

    &__underline {
        margin-top: 30px;
    }

    &__row {
        margin-top: 60px;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 34px;
    }

    &__img {
        display: inline-block;
        width: 220px;
        height: 219px;
        border-radius: 12px;
        object-fit: cover;
    }

    &__img-lagre {
        width: 542px;
        height: 510px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__content-lagre {
        margin-top: 42px;
    }

    &__sub-title {
        width: 253px;
        color: #2d3134;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.46;
    }

    &__sub-title-lagre {
        font-size: 2.6rem;
        width: 359px;
    }

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__sub-desc {
        margin-top: 12px;
        width: 225px;
        color: #676a6c;
        line-height: 1.63;
    }

    &__sub-desc--large {
        margin-top: 14px;
        width: 412px;
        font-size: 1.8rem;
    }

    &__card {
        display: flex;
        gap: 36px;
    }

    &__day {
        margin-top: 51px;
        color: #676a6c;
        font-size: 1.4rem;
    }

    &__day-lagre {
        margin-top: 0 !important;
    }

    @include abstracts.screen(xl) {
        margin-top: 120px;
        &__card-lagre {
            width: 457px;
        }

        &__img-lagre {
            width: 427px;
        }

        &__card {
            gap: 20px;
        }

        &__sub-title,
        &__sub-desc {
            width: 100%;
        }

        &__day {
            margin-top: auto;
        }

        &__sub-title-lagre {
            width: 75%;
        }
    }

    @include abstracts.screen(lg) {
        margin-top: 60px;
        &__row {
            flex-direction: column;
        }

        &__card-lagre,
        &__img-lagre {
            width: 100% !important;
            height: auto !important;
        }

        &__list {
            margin-top: 24px;
        }

        &__desc {
            width: 100%;
        }

        &__title {
            font-size: 3.8rem;
            text-align: center;
        }
    }

    @include abstracts.screen(sm) {
        &__title {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.34;
        }

        &__desc {
            margin-top: 10px;
            font-size: 1.4rem;
            line-height: 1.43;
        }

        &__underline {
            margin-top: 16px;
        }

        &__row {
            margin-top: 40px;
        }

        &__content-lagre {
            margin-top: 16px;
        }

        &__sub-title {
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
        }

        &__sub-desc {
            margin-top: 10px;
            font-size: 1.4rem;
            line-height: 1.43;
        }

        &__day {
            margin-top: 16px !important;
        }

        &__img {
            width: 110px;
            height: 110px;
        }

        &__card {
            gap: 14px;
        }

        &__list {
            gap: 24px;
        }
    }
}
