@use "../abstracts";
.page {
    &-hero {
        height: 60vh;
    }

    &__img {
        width: 203px;
        height: 207px;
    }

    &-list {
        &__row {
            display: grid;
            grid-template-columns: 1fr 1fr;

            gap: 40px;
        }

        &__item {
            display: flex;
            flex-direction: column;
            gap: 0;
            height: 473px;
        }

        &__img {
            width: 100%;
            height: calc(100% - 120px);
            object-fit: cover;

            border-radius: 10px 10px 0 0;
        }

        &__content {
            padding: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            border-radius: 0px 0px 10px 10px;
            background: #ececec;
        }

        &__info {
            display: flex;
            align-items: end;
            flex-direction: column;
            gap: 2px;
        }

        &__day {
            color: #676a6c;
        }

        @include abstracts.screen(lg) {
            margin-top: 60px;
            &__row {
                grid-template-columns: 1fr;
            }

            &__img {
                height: 356px;
            }
        }

        @include abstracts.screen(md) {
            &__title {
                font-size: 3.5rem;
            }

            &__content {
                padding: 20px;
            }
        }

        @include abstracts.screen(sm) {
            &__row {
                gap: 30px;
            }

            &__item {
                height: auto;
            }

            &__img {
                height: 250px;
            }

            &__content {
                padding: 14px 19px;
            }

            &__title,
            &__price {
                font-size: 2rem;
            }

            &__day {
                font-size: 1.2rem;
            }
        }
    }
}
