<input type="checkbox" name="" id="show-menu" class="nav__checked" hidden />
<ul class="nav__menu--mobile d-none d-lg-block">
    <li class="nav__menu-item--mobile">
        <a href="#!" class="nav__menu-link--mobile">Home</a>
    </li>
    <li class="nav__menu-item--mobile">
        <a href="#!" class="nav__menu-link--mobile">About</a>
    </li>
    <li class="nav__menu-item--mobile">
        <a href="#!" class="nav__menu-link--mobile"> Destinations </a>
    </li>
    <li class="nav__menu-item--mobile">
        <a href="#!" class="nav__menu-link--mobile">Blog</a>
    </li>
    <li class="nav__menu-item--mobile">
        <a href="#!" class="nav__menu-link--mobile">Pages</a>
    </li>
    <li class="nav__menu-item--mobile nav__menu-item--mobile-separate">
        <a href="#!" class="nav__menu-link--mobile">Contact us</a>
    </li>
</ul>
<div class="nav__menu-overlay">
    <label for="show-menu"></label>
</div>
<div class="container">
    <nav class="nav">
        <div class="logo">
            <div class="logo__img">HK</div>
            <a href="#!" class="logo__title">
                Safe Tour
                <span class="logo__dost">.</span>
            </a>
        </div>

        <ul class="nav__menu d-md-none">
            <li class="nav__menu-item">
                <a href="#!" class="nav__menu-link">Home</a>
            </li>
            <li class="nav__menu-item">
                <a href="#!" class="nav__menu-link">About</a>
            </li>
            <li class="nav__menu-item">
                <a href="#!" class="nav__menu-link"> Destinations </a>
            </li>
            <li class="nav__menu-item">
                <a href="#!" class="nav__menu-link">Blog</a>
            </li>
            <li class="nav__menu-item">
                <a href="#!" class="nav__menu-link">Pages</a>
            </li>
        </ul>
        <div class="nav__toggle">
            <button class="btn nav__btn d-xl-none">Contact us</button>
            <label for="show-menu">
                <img
                    src="./assets/icon/show-menu.svg"
                    alt=""
                    class="nav__show-menu d-none d-xl-block"
                />
            </label>
        </div>
    </nav>
</div>
